.loginContainer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.loginRow {
  margin-bottom: 20px;
}

.switchLoginMode {
  margin-top: 50px;
  border: none;
  background: none;
}

.switchLoginMode:hover {
  opacity: 0.7;
  cursor: pointer;
}